<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243659033837-5mili9ftjg5bo3rn4qgpf0qe62ac8kbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243659033837-5mili9ftjg5bo3rn4qgpf0qe62ac8kbc</string>
	<key>API_KEY</key>
	<string>AIzaSyDXPLrAsd517yqVimaBJ_tpb6L2cpC-i8c</string>
	<key>GCM_SENDER_ID</key>
	<string>243659033837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Demo</string>
	<key>PROJECT_ID</key>
	<string>jobcase-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>jobcase-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243659033837:ios:2f747f58166475552a90e4</string>
</dict>
</plist>